@font-face {
font-family: 'Aileron Regular';
font-style: normal;
font-weight: 400;
src: url(https://static.canva.com/static/webfonts/Aileron-Regular.otf) format('opentype');
}
@font-face {
font-family: 'Aileron Regular';
font-style: italic;
font-weight: 400;
src: url(https://static.canva.com/static/webfonts/Aileron-Italic.otf) format('opentype');
}
@font-face {
font-family: 'Aileron Regular';
font-style: normal;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/Aileron-Bold.otf) format('opentype');
}
@font-face {
font-family: 'Aileron Regular';
font-style: italic;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/Aileron-BoldItalic.otf) format('opentype');
}
