@font-face {
font-family: 'Lato Hairline';
font-style: normal;
font-weight: 400;
src: url(https://static.canva.com/static/webfonts/Lato-Hairline.woff) format('woff');
}
@font-face {
font-family: 'Lato Hairline';
font-style: italic;
font-weight: 400;
src:  url(https://static.canva.com/static/webfonts/Lato-HairlineItalic.woff) format('woff');
}
@font-face {
font-family: 'Lato Hairline';
font-style: normal;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/Lato-Thin.woff) format('woff');
}
@font-face {
font-family: 'Lato Hairline';
font-style: italic;
font-weight: 700;
src: url(https://static.canva.com/static/webfonts/Lato-ThinItalic.woff) format('woff');
}
